//
   Created by scampbell on 2/14/16.
extends layout

block content
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src="http://localhost:35729/livereload.js")
    script(src="src/bower_components/phaser-official/build/phaser.min.js")
    script(src="javasripts/boot.js")
    script(src="javasripts/preloader.js")
    script(src="javasripts/menu.js")
    script(src="javasripts/game.js")
    script(src="javasripts/main.js")

    #phasersample-game(class="game")


